<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
    <ul class="navbar-nav mr-auto ms-3">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/alterar">Alterar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/depositar">Depositar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/saque">Sacar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/transferencia">Transferir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cliente/extrato">Extrato</a>
          </li>
        </ul>
  
          
        <ul class="navbar-nav ml-auto me-3">
          <li class="nav-item">
            <a class="nav-link me-3"  href="#">Logout</a>
          </li>
          
        </ul>
</nav>