<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <div>
            <a class="navbar-brand" routerLink="client">BanTADS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collase navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Meu Perfil
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="nav-link">Meus Dados</a></li>
                            <li><a class="nav-link">AreaAdmin</a></li>
                            <li><a class="nav-link">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</nav>

