<!DOCTYPE html>
<html lang="pt-br">
<!-------------------------------Head---------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Título-->
    <title>BanTads</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<!-------------------------------Head---------------------------------------------->
<!-------------------------------Body---------------------------------------------->
<body>
    <!--navbar-->
    <header class="gradient">
        <!--logo-->
        <a href="../tela-inicial-administrador/tela-inicial-administrador.html" class="logo"><img src="imagens/icon.png" alt="icon">anTads</a>
        <ul class="nav-itens">
            
            <!--Relatórios de clientes-->
            <li class="nav-item"><a href="../relatorio-de-clientes-administrador/relatorio-de-clientes-administrador.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                </svg>
                Relatório de clientes</a>
            </li>
            
            <!--Listagem de Gerentes-->
            <li class="nav-item"><a href="../listagem-de-gerente-administrador/listagem-de-gerente-administrador.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                </svg>
                Listagem de Gerentes</a>
            </li>
            
            <!--Incluir gerente-->
            <li class="nav-item"><a href="../incluir-gerente-administrador/incluir-gerente-administrador.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                </svg>
                Incluir gerente</a>
            </li>            

            <!--Sair-->
            <li class="nav-item"><a href="../../login/login/login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                    <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
                </svg>
                Sair</a>
            </li>
            
        </ul>
    </header>

    
    

    <!--administrador-->
    <div id="caixa-administrador" class="container">

        <!--Título-->
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
        </svg>
        Alterar gerente</h1>

        <!--Incluir gerentes-->
        <div class="row" id="caixa-incluir-gerente">
            <!--formulario-->
            <form class="row" action="../tela-inicial-administrador/tela-inicial-administrador.html" method="post">    
                <!--Nome-->
                <div class="form-group col-6">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" required>
                </div>

                <!--CPF-->
                <div class="form-group col-6">
                    <label>CPF</label>
                    <input type="text" class="form-control" placeholder="CPF" disabled>
                </div>

                <!--Email-->
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" required>
                </div>
                
                <!--Telefone-->
                <div class="form-group col-6">
                    <label>Telefone</label>
                    <input type="text" class="form-control" placeholder="Telefone" required>
                </div>

                <!--Senha-->
                <div class="form-group col-6">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" required>
                </div>

                <!--Adicionar-->
                <div class="form-group col-1">
                    <a href="../listagem-de-gerente-administrador/listagem-de-gerente-administrador.html"><button type="submit" class="btn btn-primary">Incluir</button></a>
                </div>
                
                <!--Cancelar-->
                <div class="form-group col-1">
                    <a href="../listagem-de-gerente-administrador/listagem-de-gerente-administrador.html"><button type="button"  class="btn btn-outline-secondary">Cancelar</button></a>
                </div>
            </form>
        </div>

    </div>
</body>
<!-------------------------------Body---------------------------------------------->
</html>