<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
    <ul class="navbar-nav mr-auto ms-3">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/paginainicial">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Alterar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Depositar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Sacar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Transferir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Extrato</a>
          </li>
        </ul>
  
          
        <ul class="navbar-nav ml-auto me-3">
          <li class="nav-item">
            <a class="nav-link me-3"  href="#">Logout</a>
          </li>
          
        </ul>
</nav>