<body>
  <div id="caixa-gerente" class="container">
    <h1>
      <!--Incluir aqui um icone de validação-->
      Pedidos de autocadastro para aprovação
    </h1>

    <div id="caixa-tabela">
      <!--Tabela de pedidos autocadastrados para aprovação-->
      <table class="table table-striped">
        <thead>
          <!--Metadados-->
          <tr>
            <th scope="col">#</th>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Salário</th>
            <th scope="col">Aprovar</th>
          </tr>
        </thead>
        <tbody>
          <!--Linha 1-->
          <tr>
            <th scope="row">1</th>
            <td>111.111.111-11</td>
            <td>Nome</td>
            <td>R$0.00</td>
            <td>
              <button type="button" class="btn btn-success">Aceitar</button>
              <button type="button" class="btn btn-danger">Recusar</button>
            </td>
          </tr>

          <!--Linha 2-->
          <tr>
            <th scope="row">2</th>
            <td>222.222.222-22</td>
            <td>Nome</td>
            <td>R$0.00</td>
            <td>
              <button type="button" class="btn btn-success">Aceitar</button>
              <button type="button" class="btn btn-danger">Recusar</button>
            </td>
          </tr>

          <!--Linha 3-->
          <tr>
            <th scope="row">3</th>
            <td>333.333.333-33</td>
            <td>Nome</td>
            <td>R$0.00</td>
            <td>
              <button type="button" class="btn btn-success">Aceitar</button>
              <button type="button" class="btn btn-danger">Recusar</button>
            </td>
          </tr>

          <!--Linha 4-->
          <tr>
            <th scope="row">4</th>
            <td>444.444.444-44</td>
            <td>Nome</td>
            <td>R$0.00</td>
            <td>
              <button type="button" class="btn btn-success">Aceitar</button>
              <button type="button" class="btn btn-danger">Recusar</button>
            </td>
          </tr>

          <!--Linha 5-->
          <tr>
            <th scope="row">5</th>
            <td>555.555.555-55</td>
            <td>Nome</td>
            <td>R$0.00</td>
            <td>
              <button type="button" class="btn btn-success">Aceitar</button>
              <button type="button" class="btn btn-danger">Recusar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
