<div id="cadastro" class="container">

    <!--Logo-->
    <h1 class="col-12"><img src="../../../assets/icon.png" alt="icon">anTads</h1>
    <!--Titulo-->
    <h2>Cadastro</h2>

    <!--formulario-->
    <form class="row" action="../../cliente/tela-inicial-cliente/tela-inicial-cliente.html" method="post">    
        <!--Nome-->
        <div class="form-group col-6">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome" required>
        </div>

        <!--CPF-->
        <div class="form-group col-6">
            <label>CPF</label>
            <input type="text" class="form-control" placeholder="CPF" required>
        </div>

        <!--Email-->
        <div class="form-group col-6">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" required>
        </div>
        
        <!--Telefone-->
        <div class="form-group col-6">
            <label>Telefone</label>
            <input type="text" class="form-control" placeholder="Telefone" required>
        </div>

        <!--Endereço-->
        <div class="form-group col-6">
            <label for="inputState">Tipo</label>
            <select id="inputState" class="form-control">
                <option selected>Rua</option>
                <option>Avenida</option>
                <option>outros...</option>
            </select>
        </div>

        <!--Logadouro-->
        <div class="form-group col-6">
            <label>Logadouro</label>
            <input type="text" class="form-control" placeholder="Logadouro" required>
        </div>

        <!--Número-->
        <div class="form-group col-6">
            <label>Número</label>
            <input type="number" class="form-control" placeholder="Número" required>
        </div>

        <!--Complemento-->
        <div class="form-group col-6">
            <label>Complemento</label>
            <input type="text" class="form-control" placeholder="Complemento" required>
        </div>

        <!--CEP-->
        <div class="form-group col-6">
            <label>CEP</label>
            <input type="text" class="form-control" placeholder="CEP" required>
        </div>

        <!--Estado-->
        <div class="form-group col-2">
            <label>Estado</label>
            <input type="text" class="form-control" placeholder="Estado" required>
        </div>

        <!--Cidade-->
        <div class="form-group col-4">
            <label>Cidade</label>
            <input type="text" class="form-control" placeholder="Cidade" required>
        </div>

        <!--Saldo-->
        <div class="form-group col-6">
            <label>Saldo</label>
            <input type="number" class="form-control" placeholder="R$" required>
        </div>

        <!--Senha-->
        <div class="form-group col-6">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Senha" required>
        </div>

        <!--Cadastrar-->
        <div class="form-group col-2">
            <a href="../../cliente/tela-inicial-cliente/tela-inicial-cliente.html"><button type="submit" class="btn btn-primary">Cadastrar</button></a>
        </div>
        
        <!--Cancelar-->
        <div class="form-group col-2">
            <a href="../login/login.html"><button type="button"  class="btn btn-outline-secondary">Cancelar</button></a>
        </div>
    </form>
    
</div>