<div class="d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" action="#" method="post" id="loginForm">
                <label for="emailInput" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="emailInput">
                <label for="passwordInput" class="form-label">Senha</label>
                <input type="password" formControlName="password" class="form-control" id="passwordInput">
            </form>
        </div>
        <div class="card-footer d-flex flex-column align-items-center">
            <button class="btn btn-outline-primary w-50" (click)="submitLoginForm()" [disabled]="!loginForm.valid">Login</button>
            <br>
            <p>Não possui um cadastro? Cadastre-se clicando <a routerLink="autocadastro">aqui</a></p>
        </div>
    </div>
</div>